body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    position: relative;
    background-color:  hsl(225, 100%, 94%);
}
/* Start background section */
.bg{
    position: absolute;
    background-image: url(../images/pattern-background-desktop.svg);
    background-size: cover;
    background-position: center;
    width: 101%;
    height: 64vh;
    background-repeat: no-repeat;
    top: -35px;
    left: -10px;
}
/* End background section */

/* Start parent section */
.parent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
/* End parent section */
/* Start image section */
.image{
    margin-bottom: -3px;
    text-align: center;
}
.parent .image img{
    border-radius: 15px 15px 0 0;
}
/* End image section */
/* Start content section */
.content{
    background-color: white;
    text-align: center;
    position: absolute;
    border-radius: 0 0 15px 15px;
    padding: 25px 0;
    
}
.content-article{
    padding: 0 30px;
}
.content .content-article h2{
    margin-top: 0;
    font-weight: 700;
}
.content .content-article p{
    color: rgb(0 0 0 / 80%);
}
/* End content section */
/* Start Price Section */
.content .price-info{
    background-color: rgb(224 232 255 / 26%);
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    width: 325px;
    height: 90px;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 15px;
}
.content .price-info .icon{
    grid-row: 1/3;
    align-self: center;
    padding-left: 10px;
}
.content .price-info .info{
    line-height: 0.4;
    padding-left: 15px;
    padding-top: 15px;
}
.content .price-info .info p:first-child{
    font-weight: 700;
}
.content .price-info .change{
    grid-row: 1/3;
    grid-column: 3;
    align-self: center;
}
.content .price-info .change a{
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    font-family: sans-serif;
    padding-left: 60px;
    padding-right: 20px;
}
.content .price-info .change a:hover{
    color: hsl(245deg 75% 52% / 71%);
    text-decoration: none;
}
/* End Price Section  */
/* Start Botton Section  */
.content .bt input{
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: none;
    padding: 14px;
    width: 300px;
    font-weight: 700;
    border-radius: 10px;
}
.content .bt input:hover{
    background-color: hsl(245deg 75% 52% / 73%);
    cursor:pointer;
}
/* End Botton Section */
.content p:not(.content-article p,.price-info p){
    color: #00000087;
    font-weight: 700;
}
.content p:not(.content-article p,.price-info p):hover{
    color: black;
    font-size: 900;
    cursor: pointer;
}
/* for mobile view */
@media(max-width:376px){
    .bg{
        background-image: url(../images/pattern-background-mobile.svg);
        background-size: cover;
        background-position: center;
    }
}